body {
  font-family: "Roboto", sans-serif;
}
:root {
  --light-grey: #e2e2e2;
  --grey: #a7a7a7;
  --black: #000000;
  --white: #fff;
  --light-blue: #e0e6f5;
  --blue: #84a3f3;
}
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.hidden {
  display: none;
}

/* Calendar */
.calendar {
  padding: 20px 0;
}
.calendar__wrap {
  display: flex;
}
.calendar__time {
}
.calendar__time-list {
  position: relative;
}
.calendar__time-list::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -15px;
  height: 100%;
  width: 1px;
  background: var(--light-grey);
}
.calendar__time-item {
  font-size: 0.875rem;
  height: 30px;
  padding-right: 20px;
  position: relative;
  top: -6px;
  text-align: right;
}
.calendar__time-item:nth-child(2n) {
  color: #a7a7a7;
}
.calendar__table {
  width: 800px;
  position: relative;
}
.calendar__table-list {
  position: relative;
}
.calendar__table-item {
  height: 30px;
}
.calendar__table-item::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--light-grey);
}
.calendar__event {
  font-size: 0.75rem;
  background-color: rgb(221, 235, 255);
  border-style: solid;
  border-left-width: 5px;
  border-left-color: rgb(130, 182, 255);
  padding: 2px 0 0 5px;
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
}
