body {
  font-family: "Roboto", sans-serif;
}
:root {
  --light-grey: #e2e2e2;
  --grey: #a7a7a7;
  --black: #000000;
  --white: #fff;
  --light-blue: #e0e6f5;
  --blue: #84a3f3;
}
[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.hidden {
  display: none;
}

/* Calendar */
.calendar {
  padding: 20px 0;
}
.calendar__wrap {
  display: flex;
}
.calendar__time {
}
.calendar__time-list {
  position: relative;
}
.calendar__time-list::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -15px;
  height: 100%;
  width: 1px;
  background: var(--light-grey);
}
.calendar__time-item {
  font-size: 0.875rem;
  height: 30px;
  padding-right: 20px;
  position: relative;
  top: -6px;
  text-align: right;
}
.calendar__time-item:nth-child(2n) {
  color: #a7a7a7;
}
.calendar__table {
  width: 800px;
  position: relative;
}
.calendar__table-list {
  position: relative;
}
.calendar__table-item {
  height: 30px;
}
.calendar__table-item::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid var(--light-grey);
}
.calendar__event {
  font-size: 0.75rem;
  background-color: rgb(221, 235, 255);
  border-style: solid;
  border-left-width: 5px;
  border-left-color: rgb(130, 182, 255);
  padding: 2px 0 0 5px;
  position: absolute;
  box-sizing: border-box;
  z-index: 10;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.show-modal {
  display: block;
}
.bg-lock {
  overflow: hidden;
}
.modal__wrap {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px 20px 20px 20px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__title {
  border: 1px solid var(--grey);
  width: 80%;
  padding: 10px;
  margin-bottom: 30px;
} 
.time-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.time-block > * {
  margin-right: 40px;
}
.time-block__descr {
  margin-bottom: 15px;
  flex: 0 1 100%;
}
.time-block__from-title {
  margin-right: 10px;
}
.time-block__to-title {
  margin-right: 10px;
}
.modal__submit-btn {
  font-size: 0.875rem;
  color: var(--black);
  border: 1px solid var(--grey);
  display: inline-flex;
  padding: 10px 20px;
  transition: all .5s ease-in;
}
.modal__submit-btn:hover {
  border-color: var(--blue);
  background: var(--blue);
  color: var(--white);
}
input#time-from,
input#time-to{
  border: 1px solid var(--grey);
  padding: 5px;
  width: 60px;
}
.modal__close-btn::before,
.modal__close-btn::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 10px;
  height: 2px;
  width: 25px;
  background: var(--black);
  border-radius: 5px;
}
.modal__close-btn::before {
  content: '';
  transform: rotate(45deg);
}
.modal__close-btn::after {
  content: '';
  transform: rotate(-45deg);
}


