:root {
  --light-grey: #e0e0e0;
  --blue: #3b3e66;
  --blue-bg: #0e49b5;
  --grey: #767272;
  --black: #000;
  --white: #fff;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gm4j2f");
  src: url("../fonts/icomoon.eot?gm4j2f#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?gm4j2f") format("truetype"),
    url("../fonts/icomoon.woff?gm4j2f") format("woff"),
    url("../fonts/icomoon.svg?gm4j2f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-cart:hover {
  color: var(--white);
  border: none;
  background: var(--grey);
}
.icon-check:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-filter:before {
  content: "\e904";
}
.icon-filter {
  color: var(--white);
  padding: 10px;
  background: var(--blue-bg);
  border-radius: 100%;
}
.icon-filter:hover {
  color: var(--white);
  background: var(--blue);
}
.icon-like_empty:before {
  content: "\e905";
}
.icon-like_filled:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-settings:before {
  content: "\e909";
}
.icon-search:hover {
    color: var(--blue);
}
.icon-settings {
  color: var(--white);
  padding: 10px;
  background: var(--blue-bg);
  border-radius: 100%;
}
.icon-settings:hover {
  color: var(--white);
  background: var(--blue);
}
i {
  color: var(--grey);
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}
.icon-cart {
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 100%;
}
body {
  font-size: 1rem;
  font-family: "Roboto", san-serif;
  color: var(--grey);
}
img {
  width: 100%;
  vertical-align: top;
}
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}
.btn {
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  min-height: 50px;
  padding: 0 1.625rem;
  color: var(--white);
  background: var(--blue-bg);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background: var(--blue);
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
[class*="__container"] {
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 15px;
}
/* -------HEADER------ */
.header {
  background: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
/* -----------Banner--------- */
.banner {
}
.banner__container {
  text-align: center;
}
.banner__content {
  position: relative;
  z-index: 10;
  transform: translateY(300px);
}
.banner__title {
  font-size: 4.5rem;
  color: var(--white);
  margin-bottom: 35px;
}
.banner__btn {
}
.btn {
}
.banner__bg {
  padding-top: 48%;
}
/* ---------SEARCH-BAR-------- */
.search-bar {
  padding: 30px 0 40px 0;
}
.search-bar__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 23px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  box-shadow: 2px 2px 20px var(--light-grey);
}
form:focus-within{
  border: 1px solid var(--blue);
}
.search-bar__left {
  display: flex;
  align-items: center;
}
.search-bar__input {
  margin-left: 25px;
  padding-right: 600px;
}
.search-bar__input::placeholder {
  font-family: "Roboto";
  font-size: 1.125rem;
}
.search-bar__right > *:first-child {
  margin-right: 15px;
}

