<html>
  <head>
    <link href="/frontend/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/frontend/css/null.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="login-form">
      <div class="login-form__wrapper">
        <h1 class="login-form__title title">Login</h1>
        <form class="login-form__inside-box" action="/login" method="post">
          <ul class="login-form__filds">
            <li class="login-form__item userName-item">
              <label for="userEmail">User email</label>
              <input
                id="userEmail"
                name="userEmail"
                class="login-form__name"
                type="text"
              />
            </li>
            <li class="login-form__item userPass-item">
              <label for="userPass">Password</label>
              <input
                id="userPass"
                name="userPass"
                class="login-form__pass"
                type="password"
              />
            </li>
            <li class="login-form__item">
              <button class="login-form__btn btn" type="submit">Login</button>
            </li>
            <li class="login-form__item">
              <a href="./register" class="login-form__btn-reg"> Sign up </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
